.close {
    font-family: $close__font;

    color: inherit;

    &:hover,
    &:focus {
        cursor: pointer;
        text-decoration: none;
    }
}

button.close {
    cursor: pointer;

    -webkit-appearance: none;
}
