.nav-tabs,
.nav-pills {
    > li {
        float: left;
    }

    > li > a {
        border: $one__true__pixel solid;
        border-radius: $nav__radius;
    }

    > li + li {
        margin-left: $two__true__pixels;
    }

    > li.active > a,
    > li.open > a {
        &,
        &:hover,
        &:focus {
            color: $nav__link--active__color;
            border-color: $nav__link--active__border;
            background-color: $nav__link--active__bg;
        }
    }
}

.nav-tabs {
    border-bottom: $one__true__pixel solid;

    > li {
        margin-bottom: $one__true__pixel * -1;
    }

    > li > a {
        border-bottom-color: transparent;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .dropdown-menu {
        margin-top: $one__true__pixel * -1;

        &,
        & > li > a:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
