.nav-tabs {
    border-bottom: $one__true__pixel solid;

    > li {
        float: left;
        margin-bottom: $one__true__pixel * -1;

        > a {
            border-top-left-radius: $nav-tabs__radius;
            border-top-right-radius: $nav-tabs__radius;
        }

        + li {
            margin-left: $two__true__pixels;
        }

        &.active > a,
        > a.active {
            &,
            &:hover,
            &:focus {
                cursor: default;

                color: $nav-tabs--active__color;
                border-color: $nav-tabs--active__border;
                background-color: $nav-tabs--active__bg;
            }
        }
    }
}
