.hero-lg {
    padding-top: $hero--lg__padding;
    padding-bottom: $hero--lg__padding;
}

.hero-md {
    padding-top: $hero--md__padding;
    padding-bottom: $hero--md__padding;
}

.hero-sm {
    padding-top: $hero--sm__padding;
    padding-bottom: $hero--sm__padding;
}

.hero-xs {
    padding-top: $hero--xs__padding;
    padding-bottom: $hero--xs__padding;
}
