.list-group-item {
    position: relative;

    display: block;

    padding: $list-group-item__padding;

    border: $one__true__pixel solid;
    & + & {
        border-top: 0 none;
    }
    &:first-child {
        border-top-left-radius: $list-group-item__radius;
        border-top-right-radius: $list-group-item__radius;
    }
    &:last-child {
        border-bottom-right-radius: $list-group-item__radius;
        border-bottom-left-radius: $list-group-item__radius;
    }
}

a.list-group-item,
button.list-group-item {
    &:active {
        box-shadow: $list-group-item--active__shadow;
    }
    &[disabled] {
        cursor: $cursor-disabled;

        background-color: transparent!important;
        box-shadow: none;

        @include opacity(0.65);
    }
}

button.list-group-item {
    width: 100%;

    text-align: left;
}
