a.list-group-item,
button.list-group-item {
    @include state {
        color: $list-group-item__link--hover__color;
        border-color: $list-group-item__link--hover__border;
        background-color: $list-group-item__link--hover__bg;
    }
    &:active {
        box-shadow: $list-group-item--active__shadow;
    }
    &[disabled] {
        cursor: $cursor-disabled;

        box-shadow: none;

        @include opacity(0.65);
    }
}

button.list-group-item {
    width: 100%;

    text-align: left;
}
