a.list-group-item,
button.list-group-item {
    @include state {
        color: $list-group-item__link--hover__color;
        border-color: $list-group-item__link--hover__border;
        background-color: $list-group-item__link--hover__bg;
        .badge {
            border-color: shade($list-group-item__link--hover__bg, $list-group__contrast);
            background-color: shade($list-group-item__link--hover__bg, $list-group__contrast);
        }
    }
    &:active {
        box-shadow: $list-group-item--active__shadow;
    }
    &.active {
        .badge {
            border-color: shade($list-group-item__link--hover__bg, $list-group__contrast);
            background-color: shade($list-group-item__link--hover__bg, $list-group__contrast);
        }
    }
}

button.list-group-item {
    width: 100%;

    text-align: left;
}
