.alert-dismissible {
    position: relative;

    padding-right: $alert__x * 2;

    .close {
        position: absolute;
        top: $alert__y / 2;
        right: $alert__x / 3;

        color: inherit;
        border: 0 none;
        background-color: transparent;
    }
}
