.navbar {
    position: relative;

    border: $one__true__pixel solid;
    border-radius: $navbar__radius;

    @include clearfix;

    a {
        color: inherit;
    }
}

.navbar .dropdown-menu {
    overflow: hidden;

    border: 0 none;
    border-radius: 0 0 $navbar__radius $navbar__radius;
    box-shadow: none;
}

.navbar .dropdown-menu > li:first-child > a {
    border-radius: 0;
}

.navbar .caret {
    line-height: $base__line-height;

    float: right;

    margin-left: $navbar__x / 2;
}
