.navbar-sidebar,
.navbar-vertical {
    .navbar-header,
    .navbar-brand,
    .navbar-nav,
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li {
        clear: both;
    }
    .navbar-brand {
        display: block;
    }
    .dropdown-menu {
        position: relative;

        display: block;
        overflow: hidden;

        width: 100%;
        &.collapse {
            height: 0;
        }
        &.collapse.in,
        &.collapsing {
            height: auto;
        }
    }
    .dropdown-menu > li {
        > a {
            padding-left: $global__x * 2;
        }
        &:first-child > a,
        &:last-child > a {
            border-radius: 0;
        }
    }
    .navbar-nav > li.active > a,
    .dropdown-menu > li.active > a {
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: $two__true__pixels;
            height: 100%;
            background-color: tint(saturate($primary__color, $global__contrast * 2), $global__contrast);
        }
    }
}
.navbar-vertical {
    @media (min-width: $screen-xs-min) {
        float: left;
    }
    .navbar-nav {
        overflow: hidden;

        border-bottom-right-radius: $navbar__radius * 1.5;
        border-bottom-left-radius: $navbar__radius;
    }
    .navbar-header .navbar-brand {
        border-top-left-radius: $navbar__radius;
        border-top-right-radius: $navbar__radius;
    }
}
