$navbar-sidebar-collapse-unit: ( $navbar-nav__link__vertical__padding * 2 ) + rhythm(1);

.navbar-sidebar {
    position: fixed;
    z-index: $zindex-navbar-sidebar;
    top: 0;
    left: 0;

    height: 100%;

    border-width: 0;
    border-radius: 0;
}

.navbar-sidebar-collapse {
    position: relative;
    top: $navbar-sidebar-collapse-unit;

    overflow-y: scroll;

    box-sizing: border-box;

    height: calc( 100% - #{$navbar-sidebar-collapse-unit});
    border-top: $one__true__pixel solid;
}

.navbar-sidebar-wrapper {
    width: 18em;    //  ** Required
}

.navbar-sidebar-header,
.navbar-sidebar-body,
.navbar-sidebar-footer {
    padding-right: $navbar__x;
    padding-left: $navbar__x;
}

.navbar-sidebar-header,
.navbar-sidebar-footer {
    padding-top: $navbar__y * 1.5;
    padding-bottom: $navbar__y * 1.5;
}

.navbar-sidebar-header {
    border-bottom: $one__true__pixel solid;
}

.navbar-sidebar-body .navbar-nav {
    margin-right: $navbar__x * -1;
    margin-left: $navbar__x * -1;
}

.navbar-sidebar-footer {
    border-top: $one__true__pixel solid;
}


.offcanvas-nav {
    position: relative;
}

.offcanvas-body {
    display: table-cell;
    width: 10000px;
}



