$navbar-sidebar-collapse-unit: ( $navbar-nav__link__vertical__padding * 2 ) + rhythm(1) + $one__pixel;

.navbar-sidebar {
    position: fixed;
    z-index: $zindex-navbar-sidebar;
    top: 0;
    left: 0;

    height: 100%;

    border-width: 0;
    border-radius: 0;
}

.navbar-sidebar-collapse {
    position: relative;
    top: $navbar-sidebar-collapse-unit;

    overflow-y: scroll;

    box-sizing: border-box;
    //  NOTE: Interpolation is awesome
    height: calc( 100% - #{$navbar-sidebar-collapse-unit});
}

.navbar-sidebar-wrapper {
    width: 18em;    //  ** Required
}

.navbar-sidebar-body {
    padding-right: $navbar__x;
    padding-left: $navbar__x;

    color: $navbar-dealeron-sidebar__color;

    .navbar-nav {
        margin-right: $navbar__x * -1;
        margin-left: $navbar__x * -1;
        margin-bottom: rhythm(2);
    }
}
