.navbar-fixed-top,
.navbar-fixed-bottom {
    .navbar-collapse {
        max-height: $navbar-collapse__max-height;

        @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
            max-height: 200px;
        }
    }
}


.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    z-index: $zindex-navbar-fixed;
    right: 0;
    left: 0;

    border-radius: 0;
}

.navbar-fixed-top {
    top: 0;
}

.navbar-fixed-bottom {
    bottom: 0;
}
