.navbar-link {
    display: inline-block;
    padding: $navbar__y $navbar__x;
}

$navbar-profile-img: $navbar__y * 2;
.navbar-profile {
    position: relative;

    @media (max-width: $grid-float-breakpoint-max) {
        height: calc(#{$navbar-profile-img} + #{$navbar__y * 2});
        width: calc(#{$navbar-profile-img} + #{$navbar__x * 2});
    }
}

.navbar-profile-img {
    position: absolute;
    border-radius: 50%;
    height: $navbar-profile-img;
    width: $navbar-profile-img;
    top: 50%;
    margin-top: $navbar-profile-img / -2;
    left: $navbar__x;
}

.navbar-profile-title {
    padding-left: calc(#{$navbar-profile-img} + #{$navbar__x});

    @media (max-width: $grid-float-breakpoint-max) {
        display: none;
    }
}
