.navbar-nav {
    > li > a {
        padding: $navbar__link__padding;
    }

    > li > a:active {
        box-shadow: $navbar__link--active__shadow;
    }

    > li > a[disabled] {
        background-color: transparent!important;
        @include state-disabled;
    }

    @media (min-width: $grid-float-breakpoint) {
        float: left;

        margin: 0;

        > li {
            float: left;
        }
    }
}

