.navbar-nav {
    > li > a {
        padding-top: $navbar-nav__link__vertical__padding;
        padding-bottom: $navbar-nav__link__vertical__padding;
    }

    > li.active > a,
    > li > a:active,
    > li > a.active {
        box-shadow: $navbar-nav__link--active__shadow;
    }

    > li > a[disabled] {
        cursor: $cursor-disabled;

        background-color: transparent!important;
        box-shadow: none;

        @include opacity(0.65);
    }

    @media (min-width: $grid-float-breakpoint) {
        float: left;

        margin: 0;

        > li {
            float: left;
        }
    }
}

