.navbar-sidebar {
    position: fixed;
    z-index: $zindex-navbar-sidebar;
    top: 0;
    left: 0;

    height: 100%;

    border-width: 0;
    border-radius: 0;
    overflow: visible;

    .caret {
        float: right;
    }
}

.navbar-sidebar-wrapper {
    position: relative;

    overflow-y: scroll;

    width: $navbar-sidebar__width;
}

.navbar-sidebar-header,
.navbar-sidebar-body,
.navbar-sidebar-footer {
    padding: ( $navbar__y * 1.5 ) $navbar__x;
}

.navbar-sidebar-header {
    border-bottom: $one__true__pixel solid rgba(0,0,0,0.20);
}

.navbar-sidebar-body .navbar-nav {
    margin: ( $navbar__y * -1.5 ) ( $navbar__x * -1 );
}

.navbar-sidebar-footer {
    border-top: $one__true__pixel solid rgba(0,0,0,0.20);
}

