.navbar-sidebar {
    position: fixed;
    z-index: $zindex-navbar-sidebar;
    top: 0;
    left: 0;

    overflow: visible;

    height: 100%;

    border-width: 0;
    border-radius: 0;

    .caret {
        float: right;
    }

    .caret,
    .fa {
        color: rgba(255,255,255,0.50);
    }

    .fa-fw {
        margin-right: $navbar__x;
    }
}

.navbar-sidebar-wrapper {
    position: relative;

    overflow-y: auto;

    width: $navbar-sidebar__width !important;
}

.navbar-sidebar-header,
.navbar-sidebar-body,
.navbar-sidebar-footer {
    padding: $navbar__y $navbar__x;
}

.navbar-sidebar-header {
    background-color: rgba(0,0,0,0.25);
}

.navbar-sidebar-divider {
    border-bottom: $one__true__pixel solid rgba(0,0,0,0.20);
}
