.navbar-sidebar {
    position: fixed;
    z-index: $zindex-navbar-sidebar;
    top: 0;
    left: 0;

    overflow: visible;

    height: 100%;

    border-width: 0;
    border-radius: 0;

    .fa-fw {
        margin-right: $navbar__x;
    }
}

.navbar-sidebar-icon {
    color: rgba(255,255,255,0.50);
}

.navbar-sidebar-wrapper {
    position: relative;

    overflow-y: auto;

    @media ( min-width: 500px ) {
        width: $navbar-sidebar__width !important;
    }
}

.navbar-sidebar-header,
.navbar-sidebar-body,
.navbar-sidebar-footer {
    padding: $navbar__y $navbar__x;
}

.navbar-sidebar-header {
    background-color: rgba(0,0,0,0.2);
}

.navbar-sidebar-nav .dropdown-menu > li > a {
    padding-left: $navbar__x * 3;
}
