.btn-default {
    @include button-variant($btn--default__bg);
}

.btn-primary {
    @include button-variant($btn--primary__bg);
}

.btn-dealeron {
    @include button-variant($btn--dealeron__bg);
}

.btn-success {
    @include button-variant($btn--success__bg);
}

.btn-info {
    @include button-variant($btn--info__bg);
}

.btn-warning {
    @include button-variant($btn--warning__bg);
}

.btn-danger {
    @include button-variant($btn--danger__bg);
}

.btn-lg {
    font-size: $btn--lg__font-size;
}

.btn-sm {
    font-size: $btn--sm__font-size;
}

.btn-xs {
    font-size: $btn--xs__font-size;
}

.btn-toTop {
    position: fixed;
    bottom: rhythm(1);
    right: rhythm(1);
    z-index: $zindex-btn-toTop;
    box-shadow: 0 $one__pixel $five__pixels rgba(0,0,0,0.25);
}
