//  Color Options
$bg__default-palette:        true !default;
$bg__inverse-palette:        true !default;
$bg__primary-palette:        true !default;
$bg__neutral-palette:        true !default;
$bg__state-palette:          true !default;
