.clearfix {
    @include clearfix;
}
.center-block {
    @include center-block;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

// Toggling content
// -------------------------
// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    @include text-hide;
}

// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate
.hidden {
    display: none !important;
}

// For Affix plugin
// -------------------------
.affix {
    position: fixed;
}

// Raw
// -------------------------
.raw {
    padding: 0;

    border: 0 none;
    border-radius: 0;
}
// Wire
// -------------------------
@if $global__wire {
    .wire {

        &,
        a,
        h1 small,
        h2 small,
        h3 small,
        h4 small,
        h5 small,
        h6 small,
        span[data-toggle="tooltip"]:after {
            color: $global__wire__fg;
        }

        .panel-wizard:before {
            display: none !important;
        }

        .progress,
        .progress-bar {
            box-shadow: none !important;
        }

        .progress-bar {
            color: $global__wire__bg;
            background-color: $global__wire__fg;
        }

        .alert,
        .badge,
        .breadcrumb,
        .breadcrumb > li > a,
        .btn,
        .card,
        .card-header,
        .card-block,
        .card-footer,
        .dropdown-menu,
        .dropdown-menu > li > a,
        form,
        .form-control,
        .form-control-static,
        .control-label,
        .input-group-addon,
        .hero,
        .label,
        .list-group-item,
        .modal-header,
        .modal-body,
        .modal-footer,
        .navbar,
        .navbar a,
        .navbar > li > a,
        .nav,
        .nav > li > a,
        .pager,
        .pager > li > a,
        .pagination,
        .pagination > li > a,
        .panel,
        .panel-heading,
        .panel-body,
        .panel-footer,
        .popover,
        .popover-title,
        .popover-content,
        .table,
        .table > thead > tr > td,
        .table > thead > tr > th,
        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .tooltip-inner,
        .well {
            @include state-and-self {
                color: $global__wire__fg !important;
                border-color: $global__wire__fg !important;
                background-color: $global__wire__bg !important;
            }
        }

        .hero + .hero,
        .list-group-item + .list-group-item,
        .panel-wizard + .panel-wizard .panel-heading {
            border-top: 0 none;
        }

        .btn.active,
        .btn[active],
        .btn-group.open > a,
        .dropdown-menu > li > a.active,
        .dropdown-menu > li.active > a,
        .dropdown-menu > li.open > a,
        a.list-group-item.active,
        .nav > li > a.active,
        .nav > li.active > a,
        .nav > li.open > a,
        .pager > li > a.active,
        .pager > li.active > a,
        .pagination > li > a.active,
        .pagination > li.active > a,
        .panel-heading.current {
            color: $global__wire__bg !important;
            background-color: $global__wire__fg !important;
        }

        .nav-tabs > li > a {
            border-bottom: transparent;
        }

        .navbar {
            border: $one__true__pixel solid $global__wire__fg;

            &.navbar-stacked .dropdown-menu > li > a {
                border-right: 0 none;
                border-left: 0 none;
            }

            &.navbar-fixed-top,
            &.navbar-static-top {
                border-right: 0 none;
                border-left: 0 none;
                border-top: 0 none;

                .dropdown-mega-menu .dropdown-menu {
                    border-top: $one__true__pixel solid $global__wire__fg;
                    border-bottom: $one__true__pixel solid $global__wire__fg;
                }
            }

            .navbar-right {
                border-top-right-radius: $navbar__radius;
                border-bottom-right-radius: $navbar__radius;
            }
        }
    }
}
