.jumbotron {
    font-size: $jumbotron__font-size;

    padding: $jumbotron__padding;

    color: $jumbotron__color;
    background-color: $jumbotron__bg;

    .container &,
    .container-fluid & {
        border-radius: $jumbotron__radius;
    }

    .container {
        max-width: 100%;
    }
}
