.pager .previous {
    float: left;

    @if $pager__previous__use-icon {
        > a:before {
            font-family: $fa-font-name;

            margin-right: $pager__x / 2;

            content: '#{$pager__previous__icon}';
        }
    }
}
