.overflow-text {
    overflow: hidden;

    text-align: left;
    text-overflow: ellipsis;
}
.sortable-text {
    display: inline-block;
    float: left;

    width: 80%;

    @extend .overflow-text;
}


