.sortable-action-item {
    padding: ($btn__x / 2);
    position: absolute;
    top: 0;
}
.sortable-remove {
    right: $btn__x / 3;
}
.sortable-edit {
    right: $btn__x * 2;
}
.sortable-lock {
    //  border-top-right-radius: 50%!important;
    //  border-bottom-right-radius: 50%!important;
    //  border-radius: 0 !important;
    position: absolute;
    z-index: 10;
    top: -1 * $one__pixel;
    right: $btn__x * -2.65;
    padding: $btn__x;
    height: rhythm(.5);
    width: rhythm(.5);

    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1em;
        width: 1em;
        margin-top: -.5em;
        margin-left: -.5em;
    }

    &.top {
        top: rhythm(-.9);
        right: -1 * $one__pixel;
        border-radius: 0;
        border-bottom: 0;
    }
}
[data-type="nested"] [data-type="nested"] .sortable-lock.top {
    right: auto;
    left: -1 * $one__pixel;
}
[data-type="nested"] [data-type="nested"] [data-type="nested"] .sortable-lock.top {
    right: -1 * $one__pixel;
    left: auto;
}

h5 {
    .sortable-finished,
    .sortable-remove-all,
    .sortable-removegroup,
    .sortable-groupdeleter,
    .sortable-groupem,
    .sortable-ungroupem,
    .sortable-lockem,
    .sortable-unlockem,
    .sortable-select-all {
        font-family: $sans--regular;

        position: relative;
        right: 0;
        top: ( $btn__y * -1);
    }
}

.sortable-toolbox {
    .sortable-action-item {
        display: none;
    }
}
