.modal-header {
    padding: $modal-header__padding;

    border-bottom: $one__true__pixel solid $modal-header__border;
}

.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;

    border: 0 none;
}
