//  Units   Inherits from 05__objects/forms/_00__variables.scss
//
//
//  Input Group Addon
$input-group-addon__bg:            $gray__01;
$input-group-addon__border:        $gray__02;
$input-group-addon-sm__font-size:  $h6__font-size;
$input-group-addon-lg__font-size:  $h4__font-size;


