.input-group-addon {
    font-weight: normal;

    padding: $form__y $form__x;

    text-align: center;

    border: $one__pixel solid $input-group-addon__border;
    border-radius: $form__radius;
    background-color: $input-group-addon__bg;

    &.input-sm {
        font-size: $input-group-addon-sm__font-size;
    }

    &.input-lg {
        font-size: $input-group-addon-lg__font-size;
    }

    input[type='radio'],
    input[type='checkbox'] {
        margin-top: 0;
    }
}

