.offcanvas-nav {
    border-radius: 0 !important;
    position: absolute !important;
    z-index: 1100 !important;

    @media (min-width: $offcanvas-breakpoint) {
        position: relative !important;
    }
}
