.oncanvas-nav.navbar {
    z-index: 1130;
}

.offcanvas-nav.navbar {
    border-radius: 0;
    position: absolute;
    z-index: 1100;

    @media (min-width: $offcanvas-breakpoint) {
        position: relative;
    }

    .navbar-sidebar-wrapper {
        @media ( min-width: 500px ) {
            width: $navbar-sidebar__width !important;
        }
    }
}
