.offcanvas-inner {
    position: relative;

    overflow-y: scroll;

    box-sizing: border-box;
    background-color: $white;

    @media (min-width: $grid-float-breakpoint) {
        width: 100% !important;
    }
}
