.offcanvas-inner {
    position: relative;

    overflow-y: scroll;

    box-sizing: border-box;
    padding-bottom: rhythm(3);
    background-color: $white;
}

.offcanvas-bg {
    background-color: $white;
}
