//  Units
$card__contrast:                  $global__contrast;
$card__gutter:                    $global__gutter;
$card__radius:                    $global__radius;
$card__x:                         $global__x * 1.5;
$card__y:                         $global__y * 1.5;
//  General Options
$card__solid-color:               true !default;    //  Use palette color for bg and border
//  Color Options
$card__default-palette:           true !default;
$card__primary-palette:           true !default;
$card__neutral-palette:           true !default;
$card__state-palette:             true !default;
//  Base
$card__border:                    $gray__02;
$card__radius:                    $card__radius;
//  Card-Block
$card-block__padding:             ( $card__y * 1.5 ) $card__x;
//  Card-Header
$card-header__padding:            $card__y $card__x;
//  Card-Footer
$card-footer__padding:            $card__y $card__x;
//  Card-Img
$card-img-overlay__bg:            rgba(0, 0, 0, 0.5);
$card-img-overlay__color:         $white;
$card-img-overlay__padding:       $card__y $card__x;
//  Card-Deck
$card-deck__gutter:               $card__gutter / 2;
//  Card-Columns
$card-columns__gutter:            $card__gutter;
