.card {
    position: relative;

    border-radius: $card__radius;

    a {
        color: inherit;
    }

    .card-header:first-child,
    .card-img:first-child,
    .card-block:first-child {
        border-top-right-radius: $card__radius;
        border-top-left-radius: $card__radius;
    }
    .card-footer:last-child,
    .card-img:last-child,
    .card-block:last-child {
        border-bottom-right-radius: $card__radius;
        border-bottom-left-radius: $card__radius;
    }

}
