.card-footer {
    padding: $card-footer__padding;

    border-right: $one__true__pixel solid;
    border-bottom: $one__true__pixel solid;
    border-left: $one__true__pixel solid;

    .card-text {
        margin-bottom: 0;
    }
}

