.card-deck {
    display: table;

    width: 100%;

    table-layout: fixed;
    border-spacing: $card-deck__gutter;

    .card {
        display: table-cell;

        width: 1%;

        vertical-align: top;

        border: $one__pixel solid;

        .card-header,
        .card-footer {
            border: 0 none;
        }
        .card-block {
            border-right: 0 none;
            border-bottom: 0 none;
            border-left: 0 none;
        }
    }
}
.card-deck-wrapper {
    margin-right: $card-deck__gutter * -1;
    margin-left: $card-deck__gutter * -1;
}
