.card-group {
    display: table;

    width: 100%;

    table-layout: fixed;

    border-right: $one__true__pixel solid;
    border-radius: $card__radius;

    .card {
        display: table-cell;

        vertical-align: top;

        border-top: $one__true__pixel solid;
        border-bottom: $one__true__pixel solid;
        border-left: $one__true__pixel solid;
        border-radius: 0;

        .card-header,
        .card-footer {
            border: 0 none;
        }
        .card-img {
            border-radius: 0;
        }
        .card-block {
            border-right: 0 none;
            border-bottom: 0 none;
            border-left: 0 none;
        }

        &:first-child {
            border-top-left-radius: $card__radius;
            border-bottom-left-radius: $card__radius;
        }
        &:last-child {
            border-top-right-radius: $card__radius;
            border-bottom-right-radius: $card__radius;
        }
    }
}
