@mixin pagination-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .pagination-#{$class__name} {
            color: check-color($color, 80, inherit, $white);

            > li > a {
                color: inherit;
                border-color: $color;
                background-color: $color;

                @include state {
                    border-color: shade($color, $pagination__contrast);
                    background-color: shade($color, $pagination__contrast);
                }
            }

            > li.active > a,
            > li > a.active {
                @include state-and-self {
                    border-color: shade($color, $pagination__contrast * 2);
                    background-color: shade($color, $pagination__contrast * 2);
                }
            }

            > li > a[disabled] {
                color: check-color($color, 80, tint($body__color, 65%), tint($color, 65%));
                border-color: $color;
                background-color: $color;
            }
        }
    }
}

