@mixin breadcrumb-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .breadcrumb-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border-color: transparent;
            background-color: $color;

            > li > a {
                @include state {
                    background-color: shade($color, $breadcrumb__contrast);
                }
            }
        }
    }
}
