@mixin list-group-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .list-group-#{$class__name} {
            .list-group-item {
                color: check-color($color, 80, inherit, $white);
                border-color: $color;
                background-color: $color;
                &:not(:last-child) {
                    border-bottom-color: shade($color, $list-group__contrast);
                }
                &.active {
                    @extend %list-group-item--active;
                }
            }
            a.list-group-item {
                @include state {
                    @extend %list-group-item--active;
                }
            }
            %list-group-item--active {
                color: check-color($color, 80, inherit, $white);
                border-color: shade($color, $list-group__contrast);
                background-color: shade($color, $list-group__contrast);
                &:not(:last-child) {
                    border-bottom-color: shade($color, $list-group__contrast * 2);
                }
            }
        }
    }
}
