// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant($input__color) {
    $background:        $input__color;
    $border:            check-color($input__color, 90, shade($input__color, 14%), $background);
    $color:             check-color($input__color, 90, $body__color, white);

    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover {
        color: $color;
        background-color: shade($background, $btn__contrast / 2);
        border-color: shade($border, $btn__contrast);
    }
    &:focus,
    &.focus {
        color: $color;
        background-color: shade($background, $btn__contrast / 2);
        border-color: shade($border, $btn__contrast * 2);
    }

    & + .dropdown-toggle {
        border-left-color: shade($background, $btn__contrast);
        &:hover {
            border-left-color: shade($background, $btn__contrast);
        }
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: shade($background, $btn__contrast / 2);
        border-color: shade($background, $btn__contrast * 2);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: shade($background, 17%);
            border-color: shade($border, $btn__contrast * 2);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $color;
        background-color: shade($background, $global__contrast * 2);
    }
}

//  Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size) {
    padding:        $padding-vertical $padding-horizontal;
    font-size:      $font-size;
}
