@mixin navbar-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .navbar-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border: 0 none;
            background-color: $color;

            svg path {
                fill: check-color($color, 80, $body__color, $white);
            }

            a,
            button {
                color: inherit;
                @include state {
                    background-color: shade($color, $navbar__contrast);
                }
            }

            .navbar-nav > li.open > a,
            .navbar-nav > li.active > a,
            .navbar-nav > li > a.active,
            li.open > a,
            li.active > a,
            a.active {
                @include state-and-self {
                    background-color: shade($color, $navbar__contrast);
                }
            }
        }

        .navbar-#{$class__name} .dropdown-menu {
            background-color: shade($color, $navbar__contrast);

            > li > a {
                border-color: transparent;
                background-color: shade($color, $navbar__contrast);
                @include state {
                    background-color: shade($color, $navbar__contrast * 2);
                }
            }

            > li.open > a,
            > li.active > a,
            > a.active {
                @include state-and-self {
                    background-color: shade($color, $navbar__contrast * 2);
                }
            }

            @media (max-width: $grid-float-breakpoint-max) {
                background-color: shade($color, $navbar__contrast * 2);

                > li > a {
                    @include state {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }

                > li.open > a,
                > li.active > a,
                > a.active {
                    background-color: shade($color, $navbar__contrast * 3);
                }
            }
        }

        .navbar-#{$class__name}.navbar-stacked {

            .dropdown-menu {

                > li > a {
                    background-color: shade($color, $navbar__contrast * 2);
                    @include state {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }

                > li.open > a,
                > li.active > a,
                > a.active {
                    @include state-and-self {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }
            }
        }
    }
}
