@mixin navbar-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .navbar-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border: 0 none;
            background-color: $color;

            a,
            button {
                color: inherit;
                @include state {
                    background-color: shade($color, $navbar__contrast);
                }
            }

            li.open > a,
            li.active > a,
            a.active {
                @include state-and-self {
                    background-color: shade($color, $navbar__contrast);
                }
            }
        }
        .navbar-#{$class__name} .dropdown-menu {
            border: 0 none;
            background-color: shade($color, $navbar__contrast);

            a {
                @include state {
                    background-color: shade($color, $navbar__contrast * 2);
                }
            }

            li.open > a,
            li.active > a,
            a.active {
                @include state-and-self {
                    background-color: shade($color, $navbar__contrast * 2);
                }
            }
            @media (max-width: $grid-float-breakpoint-max) {
                background-color: shade($color, $navbar__contrast * 2);
                a {
                    @include state {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }
                li.open > a,
                li.active > a,
                a.active {
                    background-color: shade($color, $navbar__contrast * 3);
                }
            }
        }
        .navbar-#{$class__name}.navbar-stacked {
            .dropdown-menu {
                background-color: shade($color, $navbar__contrast * 2);
                a {
                    @include state {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }
                li.open > a,
                li.active > a,
                a.active {
                    @include state-and-self {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }
            }
        }
        .navbar-#{$class__name}.navbar-mega-menu {
            .dropdown-mega-menu .dropdown-menu {
                margin: 0;
            }
        }
    }
}


@mixin navbar-solid-color-bar($input__color) {
    color: $white;
    border-color: $input__color;
    background-color: $input__color;
}
