@mixin card-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .card-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border-color: $color;
            background-color: $color;
            a {
                @include state-and-self {
                    color: inherit;
                }
            }
            .card-block {
                border-color: $color;
            }
            .card-header,
            .card-footer {
                background-color:  shade($color, $card__contrast);
                border-color:      shade($color, $card__contrast);
            }
        }
    }
}
