@mixin panel-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .panel-#{$class__name} {

            .panel-heading {
                color: check-color($color, 80, inherit, $white);
                border-color: check-color($color, 80, shade($color, $panel__contrast), $color)!important;
                background-color: $color;
            }

            .panel-body,
            .panel-footer {
                border-color: $gray__02 !important;
            }
        }
    }
}

