@mixin navbar-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .navbar-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border-color: $color;
            background-color: $color;

            border: 0 none;     // Temp remove later

            .navbar-brand,
            .navbar-link,
            .navbar-toggle,
            .navbar-nav > li > a {
                color: check-color($color, 80, inherit, $white);

                .badge {
                    color: check-color($color, 80, inherit, $white);
                    border-color: shade($color, $btn__contrast);
                    background-color: shade($color, $btn__contrast);
                }
                @include state {
                    background-color: shade($color, $navbar__contrast);

                    .badge {
                        border-color: shade($color, $btn__contrast * 2);
                        background-color: shade($color, $btn__contrast * 2);
                    }
                }
            }

            .navbar-nav {
                >.disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: shade($color, $navbar__contrast * 3);
                        background-color: transparent;

                        .badge {
                            color: shade($color, $nav__contrast * 4);
                            border-color: shade($color, $btn__contrast * 3);
                            background-color: $color;
                        }
                    }
                }
                >.active > a,
                .open > a {
                    &,
                    &:hover,
                    &:focus {
                        background-color: shade($color, $navbar__contrast);

                        .badge {
                            border-color: shade($color, $btn__contrast * 3);
                            background-color: shade($color, $btn__contrast * 3);
                        }
                    }
                }
            }

            .navbar-nav .dropdown-menu {
                background-color: shade($color, $navbar__contrast);

                > li > a {
                    background-color: shade($color, $navbar__contrast);
                    @include state {
                        background-color: shade($color, $navbar__contrast * 2);
                    }
                }
                > li.active > a,
                > li > a.active {
                    background-color: shade($color, $navbar__contrast * 2);
                }
                > li.disabled > a,
                > li > a.disabled,
                > li > a[disabled] {
                    @include state-and-self {
                        color: shade($color, $navbar__contrast * 3);
                        background-color: transparent;
                    }
                }
                .divider {
                    border-color: shade($color, $navbar__contrast * 2);
                }
            }

            &.navbar-vertical,
            &.navbar-sidebar {
                .navbar-nav .dropdown-menu {
                    > li > a {
                        color: check-color($color, 80, inherit, $white);
                        border-color: shade($color, $navbar__contrast * 2);
                        background-color: shade($color, $navbar__contrast * 2);
                        @include state {
                            background-color: shade($color, $navbar__contrast * 3);
                        }
                    }
                    > li.active > a {
                        background-color: shade($color, $navbar__contrast * 3);
                    }
                }
            }

            &.navbar-sidebar {
                .navbar-sidebar-collapse,
                .navbar-sidebar-header,
                .navbar-sidebar-footer {
                    border-color: shade($color, $navbar__contrast * 2);
                }
            }
        }
    }
}


@mixin navbar-solid-color-bar($input__color) {
    color: $white;
    border-color: $input__color;
    background-color: $input__color;
}
