@mixin list-group-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .list-group-#{$class__name} {
            background-color: $color;
            a.list-group-item {
                @include state {
                    color: check-color($color, 80, inherit, $white);
                    border-color: shade($color, $list-group__contrast);
                    background-color: shade($color, $list-group__contrast);
                }
            }
            .list-group-item {
                color: check-color($color, 80, inherit, $white);
                border-color: $color;
                background-color: $color;
                &:not(:last-child) {
                    border-bottom-color: shade($color, $list-group__contrast);
                }
                &.active {
                    border-color: shade($color, $list-group__contrast);
                    background-color: shade($color, $list-group__contrast);
                }
                &[disabled] {
                    @include state-and-self {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
