@mixin btn-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .btn-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border-color: check-color($color, 80, shade($color, $btn__contrast * 1.5), $color);
            background-color: $color;

            @include state {
                color: check-color($color, 80, inherit, $white);
                border-color: check-color($color, 80, shade($color, $btn__contrast * 3), shade($color, $btn__contrast * 1.5));
                background-color: shade($color, $btn__contrast);
            }

            &.active,
            &[disabled] {
                border-color: check-color($color, 80, shade($color, $btn__contrast * 1.5), $color);
                background-color: $color;
            }

            &.dropup-toggle:not(:first-child),
            &.dropdown-toggle:not(:first-child) {
                border-left-color: shade($color, $btn__contrast * 1.5);
            }
        }
    }
}
