.breadcrumb > li > a {
    display: block;

    padding: $breadcrumb__padding;

    &:after {
        margin-left: $breadcrumb__x;

        @if $breadcrumb__separator__use-icon {
            font-family: $fa-font-name;

            content: '#{$breadcrumb__separator__icon}';
        } @else {
            content: '/';
        }
    }
}
