//  Units
$badge__x:                   $global__x / 1.5;
$badge__y:                   $global__y;
//  Base
$badge__padding:             0 $badge__x;
$badge__radius:              ($badge__x * 2);
//  Links
$badge__link--hover__color:  $gray__02;
