.badge {
    line-height: 1;

    display: inline-block;

    padding: $badge__padding;

    border: $one__true__pixel solid;
    border-radius: $badge__radius;

    .list-group-item > & {
        float: right;
    }

    .btn &,
    .nav-pills > li > a > & {
        margin-left: rhythm(0.5);
    }
}

a.badge {
    &:active {
        box-shadow: $badge--active__shadow;
    }
}
