.demo__body {
    position: relative;

    margin-bottom: rhythm(6);
    padding-top: rhythm(2);
}

.demo__titlebar {
    margin-bottom: rhythm(2);

    @include navbar-solid-color-bar($body__color);
}

.demo__section {
    margin-bottom: rhythm(3);
}

.demo__heading {
    font-size: 1em;

    margin-top: rhythm(2);

    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: $gray__03;
}

.demo__hero {
    margin-bottom: rhythm(2);
}

.demo {
    .alert,
    .breadcrumb,
    .card,
    .form-inline,
    .list-group,
    .demo__nav {
        margin-bottom: rhythm(1);
    }

    .card .list-group {
        margin-bottom: 0;
    }

    .card-img {
        max-width: 100%;
    }

    .controls .form-control {
        @include rhythm-rem(margin-bottom, 0.5);
    }
}


.demo__grid {
    .box {
        overflow: hidden;

        margin-bottom: rhythm(0.5);
        padding-top: $global__y;
        padding-bottom: $global__y;

        text-align: center;

        border: $one__true__pixel solid rgba(0,0,0,0.2);
        border-radius: $global__radius;
    }
}

.demo__dropdown,
.demo__dropdown + ul,
.demo__dropup + ul {
    display: block;
}
.demo__dropdown + ul {
    position: relative;
}

.demo__color {
    .row {
        margin-bottom: rhythm(1);
    }

    .box {
        padding: $global__y $global__x;

        border-radius: $global__radius;
    }

    .box[class*="text-"] {
        border: $one__true__pixel solid;
    }
}

.demo__btn-group {
    margin-bottom: rhythm(.5);
}
.show__modal,
.show__popover,
.demo__dropdown {
    position: relative;

    display: block;
}

.show__tooltip {
    opacity: 1;
}

.show__btn-group .btn-group {
    display: block;

    @include rhythm-rem(margin-top, .5);

    @include clearfix;
}

#sidebar {
    .nav-pills > li > a {
        margin-bottom: $two__pixels;
    }
}


.navbar-vertical-container {
    overflow-y: auto;
}

.emulate-html-element {
    position: relative;
    z-index: 30;

    min-height: 20em;
    max-height: 24em;

    .navbar-fixed-top,
    .navbar-sidebar:not(.offcanvas-nav) {
        //  overrides default value of fixed
        //  for demo purposes. Keeps nav confined
        //  within "emulate-body" container
        position: absolute;
    }
}



.emulate-container-class {
    max-width: 34em;
    margin: 0 auto;
    padding: rhythm(3) $global__gutter 0;
}
