.caret {
    line-height: 1;
}
%caret {
    display: inline-block;

    width: 0;
    height: 0;
    margin-left: $two__pixels;

    vertical-align: middle;

    border-right: $caret__width-base solid transparent;
    border-left: $caret__width-base solid transparent;
}

//  Dropdown Caret
.dropdown-toggle {
    @if $dropdown__has__caret {
        .caret {
            @if $dropdown__caret__use-icon {
                &:after {
                    font-family: $fa-font-name;

                    content: '#{$dropdown__caret__icon}';
                }
            } @else {
                border-top: $caret__width-base solid;
                border-bottom: $caret__width-base solid transparent;

                @extend %caret;
            }
        }
    } @else {
        .caret {
            &:after {
                content: '\00a0';
            }
        }
    }

    &:focus {
        outline: 0;
    }
}

//  Dropup Caret
.dropup-toggle {
    @if $dropup__has__caret {
        .caret {
            @if $dropup__caret__use-icon {
                &:after {
                    font-family: $fa-font-name;

                    content: '#{$dropup__caret__icon}';
                }
            } @else {
                border-top: $caret__width-base solid transparent;
                border-bottom: $caret__width-base solid;

                @extend %caret;
            }
        }
    } @else {
        .caret {
            &:after {
                content: '\00a0';
            }
        }
    }

    &:focus {
        outline: 0;
    }
}
