%caret {
    display: inline-block;

    width: 0;
    height: 0;
    margin-left: $two__pixels;

    vertical-align: middle;

    border-top: $caret__width-base solid;
    border-right: $caret__width-base solid transparent;
    border-left: $caret__width-base solid transparent;
}

.caret {
    @if $dropdown__has__caret {
        @extend %caret;
    } @else {
        display: none;
    }
}
.dropdown-toggle {
    //  @if $dropdown__use-fa-icon != true {
    //      .fa {
    //          display: none;
    //      }
    //  }
    //  @if $dropdown__use-css-icon {
    //      &:after {
    //          content: '';

    //          @extend %caret;
    //      }
    //  }

    &:focus {
        outline: 0;
    }
}
