.dropdown-header {
    font-size: $dropdown-header__font-size;

    display: block;

    white-space: nowrap;

    @include rhythm-rem(padding, $dropdown-header__vertical-padding $dropdown-header__horizontal-padding);
}

