.input-sm {
    font-size: $form--small__font-size;
}

.form-group-sm {
    .form-control,
    .form-control-static {
        font-size: $form--small__font-size;
    }
}

.input-lg {
    font-size: $form--large__font-size;
}

.form-group-lg {
    .form-control,
    .form-control-static {
        font-size: $form--large__font-size;
    }
}

