.btn-tags {
    &:after {
        display: block;
        clear: both;

        content: '';
    }
    .btn {
        float: left;

        margin: $btn-grid__margin;
    }
    .sortable-text {
        &:after {
            display: block;
            float: left;

            width: $global__x;

            content: '';
        }
    }
}
