//
//  Used on "querylang__01.html" page
.btn-sentence .btn {
    margin-right: 0;
    + .btn {
        margin-left: -1 * $one__pixel;
    }
    + .btn:not(:last-child) {
        border-radius: 0;
    }
    &.btn-block {
        width: auto;
    }
    &:first-child:not(:only-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &:last-child:not(:only-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &[data-type="b_joiner"] {
        border-radius: $btn__radius!important;
        float: none;
        clear: both;
        display: block;
        width: 5em!important;
    }
    &[data-type="nested"],
    &[data-type="b_joiner"] + .btn {
        border-top-left-radius: $btn__radius;
        border-bottom-left-radius: $btn__radius;
    }
    &[data-type="nested"],
    &[data-type="combined"] {
        border-top-right-radius: $btn__radius!important;
        border-bottom-right-radius: $btn__radius!important;
    }
}
