.logo__svg {
    height: rhythm(1);
    width: rhythm(2);
    margin-bottom: rhythm(-.3);
    position: relative;
    top: rhythm(-.075);
}

.navbar-brand .fa + .logo__svg {
    margin-left: rhythm(.25);
}

a:hover .logo__svg {
    cursor: pointer;
}
