.panel-footer {
    padding: $panel-footer__padding;

    border: $one__pixel solid transparent;
    border-radius: 0 0 $panel__radius $panel__radius;
    background-color: $panel-footer__bg;

    > form {
        > .form-group {
            margin-bottom: 0;
        }
    }
}
